<br>
<center>
<h2><%= button_to "List Of Categories","categories/show",:style => "text-decoration:none;float:left;"%> 

<%= button_to "Add New Category",{:controller => "categories",:action => "new"} ,:style => "text-decoration:none; float:left;"%>


<%= button_to "List Of products",{:controller => "products",:action => "show"},:style => "text-decoration:none; float:left;"%>
<%= button_to "Add New product",{:controller => "products",:action => "new"} ,:style => "text-decoration:none; float:left;"%></h2>	


</center>
